@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --font-display: var(--font-space-grotesk);
  --animate-marquee: marquee 25s linear infinite;
  --animate-marquee2: marquee2 25s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  --color-background: #000000;
  --color-foreground: #ffffff;

  --color-primary: #ffffff;
  --color-secondary: #aaaaaa;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Selection */
::selection {
  background-color: rgba(59, 130, 246, 0.3);
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}